<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/FS17-TEAM2-EAPROJECT/" />
    <title>Document</title>
    <link rel="stylesheet" href="/Common.css" />
    <!-- insert here your css style -->
    <link rel="stylesheet" href="/Atoms/card-utlime-novità/card-ultim-novit.css">
  </head>
  <body>
    <div class="card-novita-container">
      <div class="img-card-novita-container">
        <img src="https://media.contentapi.ea.com/content/dam/news/www-ea/common/ea-ppa-blog-thumbnail-xl.png.adapt.crop16x9.431p.png" alt="" />
      </div>
      <div class="text-content">
        <span> Electronic Arts Inc.</span>
        <span> 26-ott-2023</span>
        <h3>
          Continuiamo a Promuovere i valori sportivi con il Positive Player
          Award di...
        </h3>
        <p>
          Celebriamo la sportività con il Positive Player Award di EA SPORTS.
          Premiamo i concorrenti degli eSport che si impegnano a giocare in modo
          positivo.
        </p>
      </div>
    </div>

    <script>
      /* insert here your script */
    </script>
  </body>
</html>
