
#formatForm {

  margin-top: 10rem;
  padding-left: 12rem;
  width: 100%;
display: flex;
flex-direction:column ;


}


.whatisEaplay-options {
  color: white;
}

#first-sectionNewsEA {
 display: flex;
  justify-content: space-around;
  margin-bottom: 20vh;
}

#first-partNewsEA {
  max-width: 100%;
  margin-top: -2;
  padding-right: 1rem;
}

#first-partNewsEA h2 {
  color: white;
  font-size: 1.8rem;
  margin-bottom: 1.8rem;
  margin-top: 0.2rem;
}

#first-partNewsEA p {
  font-size: 1.1rem;
  color: white;
 
}

#second-partNewsEA {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  max-width: 40%;
  position: relative;
  padding-right: 14rem;
}


#second-part-paese,
#select-paese {
  margin-left: 16.8rem;
  margin-top: -3.95rem;
  padding-right: 1rem;
  transition: height 0.3s ease-in-out;
}


#select-paese {
  color: white;
  border-radius: 2px;
}


#select-paese .country-list {
  color: white;
  background-color: #161616;
  padding: 1.3rem;
  font-size: 1.2rem;
  border-bottom: 1px solid #fff;
}


#second-part-paese::placeholder {
  transform: translateY(-90%);
  margin-top: 50%;
  transition: transform 0.3s ease-out, margin-top 0.3s ease-out;
}

#second-part-paese:focus::placeholder {
  transform: translateY(-120%);
  margin-top: 0;
}


.second-part-containerNewsEA {
  align-items: center;
}


.second-part-containerNewsEA #p-checkboxEANews {
  position: absolute;
  margin-left: 1.9rem;
  margin-top: -1rem;
  font-size: 1rem;
}


#second-part-email,
#second-part-birth,
#select-paese {
  background-color: transparent;
  border: 2px solid white;
  padding: 3ch;
  border-radius: 3px;
  transition: 0.5;
  transition-duration: 0.5s;
  width: 230px;
  margin-right: 4.5ch;
}

#second-part-email {
  margin-bottom: 3rem;
}

#second-part-email,
#second-part-birth {
  gap: 1rem
}

#second-part-email:hover,
#second-part-birth:hover,
#second-part-paese:hover,
.select-country:hover {
  padding: 3.5ch;
  transition-duration: 0.5s;
}

#second-part-email {
  width: 500px;
  margin-bottom: 4ch;
}

#second-part-email:focus::placeholder {
  top: 10px;
  transform: scale(0.9) translateY(-10%) translateX(-8px);
  transition: all 0.4s cubic-bezier(0.25, 0.1, 0.25, 1);
}

#checkDiv {
  display: inline;
  position: relative;
  flex-direction: row;
  margin-top: 0rem;
}

#checkDiv #p-checkboxEANews {
  width: 70vh;
  color: white;
}

#checkboxEANews {
  margin-top: 7vh;
}

#iscrivitiEANews {
  position: relative;
  font-size: 1.1rem;
  border: 2px solid #FF4747;
  color: white;
  border-radius: 4px;
  padding: 1.1rem 2.5rem;
  background-color: #FF4747;
  margin-top: 6.5rem;
  cursor: pointer;
  transition: all 0.3s;
  overflow: hidden;
}

#iscrivitiEANews:hover {
  border: 2px solid white;
}

#checkboxEANews {

  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 1rem;
  height: 1rem;
  border: 2px solid white;
  border-radius: 2px;
  background-color: transparent;
  position: relative;
  margin-bottom: -0.23rem;


  &::before {
    content: '\2713';

    font-size: 1rem;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
  }

  &:checked {
    background-color: transparent;

    &::before {
      opacity: 1;
    }
  }
}



#vediRisposte {
  position: absolute;
  font-size: 1.1rem;
  border: 2px solid white;
  color: white;
  border-radius: 4px;
  padding-left: 2.1rem;
  padding-right: 2.1rem;
  padding-top: 1.1rem;
  padding-bottom: 1.1rem;
  background-color: transparent;
  margin-right: -33rem;
  margin-top: 1.2rem;
  cursor: pointer;
  transition: all 0.3s;
}

#vediRisposte:hover {
  transform: scale(1.05);
}


#third-sectionNewsEA {
  text-align: center;
  margin-top: 20vh;
  padding-right: 11rem;
  color: white;
  padding-bottom: 3rem;
}

#second-sectionNewsEA .butCostiEA {
  display: flex;
}

#second-section-infoCostiEA,
#second-sectionNewsEA {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
  padding-right: 12rem;
}

#second-sectionNewsEA h2 {
  font-size: 1.8rem;
  margin-right: 25rem;
}

.butCostiEA h2 {
  font-size: 1.3rem;
color: white;
}

#EAplay-titleCost {
  margin-bottom: 2.6rem;
  color: white;

}



.butCostiEA {
  max-width: 30%;
  padding: 1rem;
  box-sizing: border-box;
  color: white;
}


.frequentAnswers {
  display: flex;
  justify-content: space-around;
  gap: 40rem;
  color: white;
}

.red-Annul {
  color: tomato;
  text-decoration: none;
}



@media (min-width:1606px) {

  #second-part-paese,
  #second-part-birth {
    position: absolute;
    bottom: 12rem;
    left: 0rem;
  }

  #select-paese {
    position: absolute;
    bottom: 12rem;
  }
}



@media (min-width:1596px) {
  .second-part-containerNewsEA #select-paese {
    position: absolute;
    left: 0rem;
  }
}


@media (max-width:1181px) {
  #second-sectionNewsEA h2 {
    display: none;
  }

  #vediRisposte {
    display: none;
  }
}



@media (max-width:1032px) {

  #first-sectionNewsEA {
    display: inline-block;
  }

  #first-partNewsEA {
    max-width: 70%;
    
  }

  #second-sectionNewsEA {
    display: inline-block;
  }

  .butCostiEA {
    max-width: 80%;
   
  }

  #iscrivitiEANews {
    font-size: 0.8rem;
    padding: 0.8rem 2.2rem;

  }

}

@media (max-width:768px) {
  #second-section-infoCostiEA {
    display: inline;
    width: 200%;
  }

  #third-sectionNewsEA {
    display: inline;
    text-align: left;
    color: white;
  }
}

@media (max-width:768px) {


  
#second-part-email,
#second-part-birth,
#select-paese {
  background-color: transparent;
  border: 2px solid white;
  padding: 3ch;
  border-radius: 3px;
  transition: 0.5;
  transition-duration: 0.5s;
  max-width: 230px;
  margin-right: 4.5ch;
}


#formatForm {

 
  padding-left: 4rem;
margin-inline: auto;
}


#p-checkboxEANews{
 max-width: 99%;
 text-wrap: wrap;
}


.second-part-containerNewsEA #p-checkboxEANews {
  position: static;
}


#second-partNewsEA {
  padding: 0;
}

#second-partNewsEA h2, #second-partNewsEA h2

{padding: 0;
  text-wrap: wrap;
  max-width: 99%;
 
}

#iscrivitiEANews {
margin: 0;
  
}

#checkDiv #p-checkboxEANews {
    max-width: 50vw;
    color: white;
}

#third-sectionNewsEA {
  padding: 0;
}

}